.configurations {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
}

.option {
	margin-bottom: 15px;
}

label {
	margin-right: 10px;
}

input[type="color"],
input[type="range"] {
	padding: 5px;
}

.content {
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}