:root{
    --primary-color: #5198df;
    --secundary-color: rgba(56, 56, 56, 0.137);
    --shadow-color: #CCC;
    --text-color: #FFF;
}
.main_user{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh;
    margin-top: 40px;
    margin-left: 40px;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    background-color: white;
    border-radius: 8px;
}

#tableClient{
    font-size: 14px;
}

#tableClient th{
    font-size: 18px;
}

#cadastrarCliente{
    display: flex;
    position: absolute;
    margin-top: -40px;
    margin-left: 83%;
}

#verSenha{
    position: absolute;
    top: 468px;
    left: 990px;
    width: 50px;
    cursor: pointer;
}
#verConfSenha{
    position: absolute;
    top: 531px;
    left: 990px;
    width: 50px;
    cursor: pointer;
}
@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    .main_user{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}

@media (min-width:1024px){
    #cadastrarCliente{
        background-color: green;
    }
    #verSenha{
        position: absolute;
        top: 465px;
        left: 682px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 526px;
        left: 682px;
        width: 50px;
        cursor: pointer;
    }
}

@media (min-width:1280px){
    #cadastrarCliente{
        background-color: red;
    }
    #verSenha{
        position: absolute;
        top: 464px;
        left: 860px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 525px;
        left: 860px;
        width: 50px;
        cursor: pointer;
    }
}

@media (min-width:1366px){
    #cadastrarCliente{
        background-color: burlywood;
    }
    #verSenha{
        position: absolute;
        top: 467px;
        left: 920px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 531px;
        left: 920px;
        width: 50px;
        cursor: pointer;
    }
}

@media (min-width:1440px){
    #cadastrarCliente{
        background-color: blue;
    }
    #verSenha{
        position: absolute;
        top: 467px;
        left: 972px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 531px;
        left: 972px;
        width: 50px;
        cursor: pointer;
    }
}

@media (min-width:1600px){
    #cadastrarCliente{
        background-color: blueviolet;
    }
    #verSenha{
        position: absolute;
        top: 467px;
        left: 1085px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 531px;
        left: 1085px;
        width: 50px;
        cursor: pointer;
    }
}

@media (min-width:1680px){
    #cadastrarCliente{
        background-color: goldenrod;
    }
    #verSenha{
        position: absolute;
        top: 467px;
        left: 1140px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 531px;
        left: 1140px;
        width: 50px;
        cursor: pointer;
    }
}

@media (min-width:1920px){
    #cadastrarCliente{
        background-color: yellow;
    }
    #verSenha{
        position: absolute;
        top: 467px;
        left: 1308px;
        width: 50px;
        cursor: pointer;
    }
    #verConfSenha{
        position: absolute;
        top: 531px;
        left: 1308px;
        width: 50px;
        cursor: pointer;
    }
}